body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    transition: background-color 0.3s, color 0.3s;
}

.mainGame {
    margin-top: 225px;
}

.main {
    text-align: center;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.computerWord {
    margin: 20px 0;
}

.wordOfComputer {
    font-size: 24px;
    border: 2px dashed #ccc;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    background-color: #fafafa;
}

.wordInput {
    width: 92%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.start {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start:hover {
    background-color: #0056b3;
}

.winResult {
    font-size: 15px;
    margin-top: 20px;
}

.buttonsMain {
    text-align: right;
    margin-right: 40px;
    margin-top: -120px;
}

.themeButton {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.musicButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.light-theme {
    .computerWord {
        color: black;
    }
    background-color: white;
    color: white;
    .main {
        border: black solid 4px;
        background-color: white;
        color: black;
    }
    .wordOfComputer {
        border: black solid 4px;
    }
}

.dark-theme {
    .computerWord {
        color: black;
    }
    background-color: black;
    color: black;
    .main {
        border: white solid 4px;
        background-color: black;
        color: white;
    }
    .wordOfComputer {
        border: white solid 4px;
    }
}

.level {
    text-align: center;
}

.levelMain {
    margin-left: 20px;
    button {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.levelButton {
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
}

.levelButton:hover {
    color: #0056b3;
}

.levelTitle {
    text-align: center;
    font-size: 20px;
    color: black;
}
