.main {
    text-align: center;
    margin-top: 250px;
    border: black solid 4px;
    margin-left: 550px;
    margin-right: 550px;
    border-radius: 15px;
    font-family: sans-serif;
}

.computerWord {
    margin-top: 20px;
}

.wordOfComputer {
    font-size: 30px;
    border: black solid 4px;
}

.wordInput {
    width: 200px;
}

.start {
    font-size: 25px;
    width: 200px;
    height: 40px;
    margin-top: 20px;
}

.start:hover {
    background-color: forestgreen;
    border-color: forestgreen;
    border-radius: 5px;
}

body {
    transition: background-color 0.3s, color 0.3s;
}

.light-theme {
    background-color: white;
    color: black;
    .main {
        border: black solid 4px;
    }
    .wordOfComputer {
        border: black solid 4px;
    }
}

.dark-theme {
    background-color: black;
    color: white;
    .main {
        border: white solid 4px;
    }
    .wordOfComputer {
        border: white solid 4px;
    }
}
